@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.new_post {
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

a {
    color: inherit;
    text-decoration: inherit;
  }

#heading {
    padding: 10px;
    display: inline;
}

#follow_button {
    margin: 9px;
    display: inline-block;
}

